header{
    width: 100%;
}

header .inner{
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

header .inner h1{
    position: absolute;
    left: 30px;
    bottom: 20px;
}

/* h1 태그 안의 a 태그에 작성한 것은 h1에 폰트 값을 지정해줘도 적용되지 않는다. */
header .inner h1 a{
    font: bold 24px/1 "arial";
    color: #444;
}

/* menu Web */

header .inner .menuWeb #gnb{
    position: absolute;
    right: 60px;
    bottom: 0;
}

header .inner .menuWeb #gnb li{
    float: left;
}

header .inner .menuWeb #gnb li a{
    display: block;
    padding: 14px 40px;
    font: bold 14px/1 "arial";
    color: #777;
}

header .inner .menuWeb #gnb li a:hover{
    background-color: #555;
    color: #fff;
}

header .inner .util{
    position: absolute;
    top: 20px;
    right: 30px;
}

header .inner .util li{
    float: left;
    margin-left: 20px;
}

header .inner .util li a{
    font: 12px/1 "arial";
    color: #999;
}

@media screen and (max-width : 1160px) {
    
    header{
        width: 100%;
    }
    
    header .inner{
        width: 80vw;
        height: 80px;
    }
    
    /* h1 태그 안의 a 태그에 작성한 것은 h1에 폰트 값을 지정해줘도 적용되지 않는다. */
    header .inner h1 a{
        font: bold 20px/1 "arial";
    }
    
    header .inner .util{
        position: absolute;
        top: -100%;
        right: -100%;
    }
    
    header .inner .util li{
        float: left;
        margin-left: 20px;
    }
    
    header .inner .util li a{
        font: 12px/1 "arial";
        color: #fff;
    }

}

/* 햄버거 버튼 */
header .inner .btnCall{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
}

header .inner .btnCall::before{
    content: '';
    display: block;
    clear: both;

    width: 100%;
    height: 2px;
    background-color: black;
    
    position: absolute;
    top: 0;
    left: 0;

    transition: top 0.5s 0s, transform 0.5s 0.5s;
    /*  */
}

header .inner .btnCall::after{
    content: '';
    display: block;
    clear: both;

    width: 100%;
    height: 2px;
    background-color: black;
    
    position: absolute;
    bottom: 0;
    left: 0;

    transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}

header .inner .btnCall span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    text-indent: -999999px;

    transition: 0.5s;
    /* text-indent는 들여쓰기로 터무니없는 값으로 안드로메다로 보내버림 */
}

/* 자바스크립트에서 on이라는 클래스를 붙이기만 하고 실제 움직이거나 변경되는 것은 css에 적어둔다. */
header .inner .btnCall.on::before{
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);
}

header .inner .btnCall.on::after{
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(-45deg);
}

header .inner .btnCall.on span{
    transform: translateX(100%);
    opacity: 0;
}


/* 모바일 메뉴 */
header .inner .menuMo{
    width: 270px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    /* left: 0; */
    left: -270px;
    padding: 35px 30px;
    z-index: 10;
    text-align: center;

    transition: 0.5s;
}

header .inner .menuMo.on{
    left: 0;
}

header .inner .menuMo h2{
    padding-bottom: 30px;
    border-bottom: 1px solid #666;
}

header .inner .menuMo h2 a{
    display: block;
    font: bold 24px/1 "arial";
    color: #fff;
}

header .inner .menuMo h2 span{
    font-size: 12px;
    color: #aaa ;
}

header .inner .menuMo #gnbMo li a{
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #444;
    color: #888;
    font: bold 14px/1 "arial";
}